@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
}

.custom-bg-autotransporte {
    background-image: url('/img/services/autotransporte.jpg');
}

.custom-bg-traslados-foraneos {
    background-image: url('/img/services/traslados.jpg');
}

.custom-bg-traslados-locales {
    background-image: url('/img/services/traslados-loc.jpg');
}

.custom-bg-almacenamiento {
    background-image: url('/img/services/almacenamiento.jpg');
}

.custom-bg-consolidacion {
    background-image: url('/img/services/consolidacion.jpg');
}

.custom-bg-exceso {
    background-image: url('/img/services/exceso.jpg');
}

.custom-bg-servicios-page {
    background-image: url('/img/services/bg-services-mobile.jpg');
}

@media (min-width: 1280px) {
    .custom-bg-servicios-page {
        background-image: url('/img/services/bg-services.jpg');
    }
}

.custom-bg-contacto-page {
    background-image: url('/img/contacto/bg-contacto.jpg');
}